<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Online remix on Mixboard.fm</title>
    
    <%= stylesheet_link_tag :mixboard %>
    <%= stylesheet_link_tag :buttons %>

    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "soundmanager2/script/soundmanager2" %>
    <%= javascript_include_tag "mixboard-classes" %>
    <%= javascript_include_tag "mixboard-ui" %>
    <%= javascript_include_tag "mixboard-app" %>
  </head>
  <body>
    <% # This is where the template context comes in. %>
    <%= yield %>
  </body>
</html>
